################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/text2vec.cpp/v17
/x64/Debug/text2vec.cpp_MD.tlog
/x64/Debug
/.vs/text2vec.cpp/FileContentIndex
